<body>
<main class="main">
  <section class="slide" id="inicio">
    <div class="mySlider">
      <h1 class="mySlider__title animate__slideInDown">Arquitectura & Construcción</h1>
    <app-slides></app-slides>
    </div>
  </section>
        <!-- Servicios -->
        <section class="services container" id="servicios">
            <div class="service" [ngClass]="{'noanimated': !scrollingService, 'fadeInLeft':scrollingService}" #service>
                <figure class="service__img">
                    <img src="assets/icons/conversation.svg" alt="conversation">
                </figure>
                <h3 class="service__title">Ideamos</h3>
                <p class="service__paragraph">Escuchamos tus ideas y te brindamos asesoramiento acorde para que puedas
                    considerar
                    las variantes en modelos de construcción, tiempos de ejecución y costos.</p>
            </div>
            <div class="service" [ngClass]="{'noanimated': !scrollingService, 'fadeInLeft':scrollingService}" id="house" #service>
                <figure class="service__img">
                    <img src="assets/icons/house.svg" alt="Casas a medida">
                </figure>
                <h3 class="service__title">Proyectamos</h3>
                <p class="service__paragraph">Le damos forma a tus ideas y las transformamos en un proyecto
                    constructivo,
                    para que puedas ver un resultado simulado en alta calidad.</p>
            </div>
            <div class="service" [ngClass]="{'noanimated': !scrollingService, 'fadeInLeft':scrollingService}" id="calculator" #service>
                <figure class="service__img">
                    <img src="assets/icons/calculator.svg" alt="Calculadora de presupuesto">
                </figure>
                <h3 class="service__title">Presupuestamos</h3>
                <p class="service__paragraph">Realizamos una propuesta económica clara, que cubra todas las necesidades
                    de
                    tu proyecto.</p>
            </div>
            <div class="service" [ngClass]="{'noanimated': !scrollingService, 'fadeInLeft':scrollingService}" id="worker" #service>
                <figure class="service__img">
                    <img src="assets/icons/work.svg" alt="Casco de constructor">
                </figure>
                <h3 class="service__title">Construimos</h3>
                <p class="service__paragraph">Llevamos a cabo el proyecto siguiendo tu decisión y de acuerdo con todos
                    los
                    requerimientos
                    específicos de la jurisdicción en la que se ejecute.</p>
            </div>
            <div class="service" [ngClass]="{'noanimated': !scrollingService, 'fadeInLeft':scrollingService}" id="keys" #service>
                <figure class="service__img">
                    <img src="assets/icons/key.svg" alt="Entregas llave en mano">
                </figure>
                <h3 class="service__title">Entregamos</h3>
                <p class="service__paragraph">Ofrecemos dos modalidades de contrato: "obra gris" o "llave en mano".
                </p>
            </div>
        </section>

        <!-- Obras -->
        <section class="works container" id="obras">
          <div class="works__title" [ngClass]="{'noanimated': !scrollingWork, 'fadeInUp':scrollingWork}" #workGaleryWork>
            <h2 class="title">Nuestras Obras</h2>
          </div>
          <div class="works__galery">
            <div class="work__galery" [ngClass]="{'noanimated': !scrollingWork, 'fadeInUp':scrollingWork}" #workGaleryWork *ngFor="let obra of obras">
                <picture>
                    <source [srcset]="obra.webp[0]" type="image/webp">
                    <img [src]="obra.jpg[0]" loading="lazy" [alt]="obra.alt">
                </picture>
                <a (click)="goToWork(obra.id)">
                <div class="work__overlay">
                    <h3 class="work__title">{{obra.title}}</h3>
                </div>
                </a>
            </div>
            <div class="work__galery" [ngClass]="{'noanimated': !scrollingWork, 'fadeInUp':scrollingWork}" id="calculator" #workGaleryWork>
                <picture>
                    <source srcset="assets/images/galery/piscina-en-construccion-mercedes.webp" type="image/webp">
                    <img src="assets/images/galery/piscina-en-construccion-mercedes.jpeg" loading="lazy" alt="Construcción de Piscinas">
                </picture>
                <a [routerLink]="['/blog/construccion-de-piscinas-a-medida']">
                <div class="work__overlay">
                    <h3 class="work__title">Construimos piscinas de hormigón</h3>
                </div>
                </a>
            </div>
          </div>
        </section>

<!-- Nosotros -->
<section class="abouts" id="nosotros">
<div class="about">
    <div class="about__card">
      <div class="title">Nosotros</div>
      <div class="divider"></div>
      <div class="about__card__team">
        <div class="about__card__profile">
          <picture>
              <source src="assets/images/ayelen-giles-arquitecta-city-bell.webp" type="image/webp">
              <img src="assets/images/ayelen-giles-arquitecta-city-bell.jpg" loading="lazy"
                  alt="Ayelén Giles, Arquitecta Directora del Estudio GEA">
          </picture>
          <div>
          <h2 class="about__title">Ayelén Giles</h2>
          <h3 class="about__subtitle">ARQUITECTA</h3>
          </div>
        </div>
        <div class="about__card__profile">
          <picture>
              <source src="assets/images/lucio-enriquez.webp" type="image/webp">
              <img src="assets/images/lucio-enriquez.jpg" loading="lazy"
                  alt="Lucio Enriquez, Arquitecto del Estudio GEA">
          </picture>
          <div>
          <h2 class="about__title">Lucio Enriquez</h2>
          <h3 class="about__subtitle">ARQUITECTO</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="about__text container">
      <div class="title" [ngClass]="{'noanimated': !scrollingAbout, 'flipInX':scrollingAbout}" #about>Le damos vida a tus proyectos.</div>
      <div class="about__paragraph">
          <p>Somos <span>GEA Arquitectura</span>, un estudio especializado en <span>proyectos de construcción a medida en la región de Gran La Plata,
            ciudades aledañas, en Pinamar y en La Costa</span>.</p>

          <p>Brindamos un servicio integral de arquitectura y construcción.</p>

          <p>Ofrecemos la posibilidad de construir en diferentes sistemas como: <span>obra húmeda (ladrillo),
            steel frame y wood frame</span>.</p>

          <p>Nuestros servicios comprenden el diseño, la dirección y construcción de viviendas familiares, casas o departamentos de alquiler,
            garajes, quinchos, oficinas, piscinas de hormigón, pérgolas, decks, reformas, ampliaciones y proyectos paisajísticos, entre otros.
            Además, <span>gestionamos permisos y autorizaciones para la construcción y reformas.</span></p>

          <p>Trabajamos con profesionales confiables y experimentados en las distintas etapas del proyecto,
            para garantizar calidad y cuidado de cada detalle.
          </p>
      </div>
      <div class="bg about__background"></div>
    </div>
  </div>
</section>
<!-- Testimonios -->
<section class="testimonials" id="testimonios">
  <div class="testimonials__container">
    <div class="title">Testimonios</div>
      <div class="divider"></div>
      <div class="testimonials__clients">
        <div class="testimonial__client">
          <div class="stars">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
          </div>
          <p class="testimonial">"Exelente atención, explican todo, muy detallistas, muy buena predisposición."</p>
          <div class="divider"></div>
          <div  class="about__subtitle">TOMÁS PANSE</div>
        </div>
        <div class="testimonial__client">
          <div class="stars">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
          </div>
          <p class="testimonial">"Me gusta por el compromiso de la Arquitecta y todo lo hace con un grupo, que cumple en tiempo y forma la verdad lo recomiendo."</p>
          <div class="divider"></div>
          <div  class="about__subtitle">TERESA MARTINEZ</div>
        </div>
        <div class="testimonial__client">
          <div class="stars">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
            <img src="https://uploads-ssl.webflow.com/641f4d619e7328415e2edd9a/64239d8d08bd3f645c1ea765_icons8-star-240.png" loading="lazy" width="20" alt="" class="star-image">
          </div>
          <p class="testimonial">"Excelente profesional! Atención muy personalizada, atentos siempre a los detalles. Recomendable al 100%".</p>
          <div class="divider"></div>
          <div  class="about__subtitle">FLORENCIA NIETO</div>
        </div>
      </div>
  </div>
</section>
<!-- Logos -->
<section class="logos container">
  <div class="logos__title">Acompañan nuestros proyectos:</div>
  <div class="logos__img">
      <div class="logo move">
          <a href="http://www.mussispropiedades.com.ar/" target="_blank">
              <img src="/assets/logos/mussisLogo.png" loading="lazy" alt="Mussis Logo">
          </a>
      </div>
      <div class="logo move">
          <a href="https://miksa.com.ar/" target="_blank">
              <img src="/assets/logos/miksaLogo.png" loading="lazy" alt="Miksa Logo">
          </a>
      </div>
      <div class="logo move">
          <a href="https://molber-steelframe.com/" target="_blank">
              <img src="/assets/logos/molberLogo.png" loading="lazy" alt="Molber Logo">
          </a>
      </div>
      <div class="logo move">
          <a href="https://www.facebook.com/materialesberisso/" target="_blank">
              <img src="/assets/logos/mbLogo.png" loading="lazy" alt="Materiales Berisso Logo">
          </a>
      </div>
      <div class="logo move">
          <a href="https://linktr.ee/whatsapp.info" target="_blank">
              <img src="/assets/logos/elgrilloLogo.png" loading="lazy" alt="Ferretería de La Plata El Grillo Logo">
          </a>
      </div>
  </div>
</section>
<section class="map">
  <div class="map__text container">
    <h3 class="title">Estamos en City Bell</h3>
  </div>
  <div class="wrap__map container">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d409.1352744783599!2d-58.04617086562288!3d-34.879282232190576!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ff4d7770fa85805!2sGea%20Arquitectura!5e0!3m2!1ses!2sar!4v1673503734353!5m2!1ses!2sar"
    allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
<section class="contact" id="contacto">
  <app-form></app-form>
</section>
</main>
</body>
