<app-loading *ngIf="loading"></app-loading>

<!-- Blog body -->
<section class="blog__body" id="blogPost">
  <app-head></app-head>
  <div class="blog__social">
      <img class="share" src="/assets/icons/share.svg">
      <a (click)="shareOnFacebook()">
        <img src="/assets/icons/facebook-square.svg" alt="facebook"></a>
      <a (click)="shareOnWhatsApp()"><img src="/assets/icons/whatsapp-gray.svg" alt="whatsapp"></a>
      <a (click)="shareOnLinkedIn()">
        <img src="/assets/icons/linkedin-square.svg" alt="linkedin"></a>
      <a (click)="shareOnPinterest()">
          <img src="/assets/icons/pinterest-square.svg" alt="pinterest"></a>
      <a (click)="shareOnEmail()">
        <img src="/assets/icons/gmail-square.svg" alt="gmail"></a>
      <a (click)="copyLinkToClipboard()">
        <img src="/assets/icons/link.svg" alt="link"></a>
        <span class="copy-feedback" [ngClass]="{'show': linkCopied}">Link Copiado!</span>
  </div>
  <article class="blog__post container">
  <div  class="blog__title">
    <p class="blog__category">{{ blogPost.fields.category.fields.name }}</p>
    <h1 #title>{{blogPost.fields.title}}</h1>
    <div class="blog__image">
      <img #blogImage [src]="blogPost.fields.coverImage.fields.file.url" [alt]="blogPost.fields.title">
    </div>
  </div>
  <div class="blog__content" #contentContainer [innerHtml]="blogPost.fields.content | toHtml"></div>
  </article>
</section>
