<!-- Footer -->
<footer>
  <section class="footer container">
    <div class="footer__items">
    <div class="footer__social">
      <p class="title">Nuestras redes:</p>
      <div id="icons" class="footer__social__icons">
        <a href="https://www.facebook.com/estudiogeaarq/" target="_blank">
          <img src="/assets/icons/facebook-square.svg" alt="facebook"></a>
        <a href="https://www.instagram.com/gea_arquitectura/" target="_blank">
          <img src="/assets/icons/instagram-square.svg" alt="instagram"></a>
        <a href="https://api.whatsapp.com/send?phone=5492214591846&text=Hola!%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20para%20construir"
          target="_blank"><img src="/assets/icons/whatsapp-gray.svg" alt="whatsapp"></a>
        <a href="https://www.linkedin.com/company/gea-arquitectura/" target="_blank">
          <img src="/assets/icons/linkedin-square.svg" alt="linkedin"></a>
        <a href="https://ar.pinterest.com/GeaArquitectura/" target="_blank">
            <img src="/assets/icons/pinterest-square.svg" alt="pinterest"></a>
        <a href="https://www.tiktok.com/@gea.arquitectura" target="_blank">
              <img src="/assets/icons/tiktok-icon.svg" alt="tiktok"></a>
        <a href="mailto:estudiogea.lp@gmail.com?Subject=Me%20interesa%20saber%20más%20para%20construir">
          <img src="/assets/icons/gmail-square.svg" alt="gmail"></a>
      </div>
    </div>
    </div>
    <div class="footer__text">
    <p>&copy; GEA - 2022 | Desarrollado por <a href="https://github.com/flavius87"
        target="_blank">flavius</a></p>
    </div>
  </section>
</footer>

