<!-- Footer -->
<footer>
  <section class="footer container">
    <div class="footer__items">
    <div class="footer__location">
      <p class="footer__location__title">Dirección del estudio:</p>
      <p class="footer__location__paragraph">City Bell, Calle 476 esquina 19</p>
      <!--<div class="icon__location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13092.312652949015!2d-58.0462078!3d-34.8793835!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ff4d7770fa85805!2sGea%20Arquitectura!5e0!3m2!1ses-419!2sar!4v1672612335381!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <a href="https://goo.gl/maps/d2BabPJxYzqGNsXZ8" target="_blank"><img src="/assets/icons/maps.svg"
            alt="icono de ubicación"></a>
      </div>-->
    </div>
    <div class="footer__social">
      <p class="footer__social__title">Nuestras redes:</p>
      <div id="icons" class="footer__social__icons">
        <a href="https://www.facebook.com/estudiogeaarq/" target="_blank">
          <img src="/assets/icons/facebook-square.svg" alt="facebook"></a>
        <a href="https://www.instagram.com/gea_arquitectura/" target="_blank">
          <img src="/assets/icons/instagram-square.svg" alt="instagram"></a>
        <a href="https://api.whatsapp.com/send?phone=5492214591846&text=Hola!%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20para%20construir"
          target="_blank"><img src="/assets/icons/whatsapp.svg" alt="whatsapp"></a>
        <a href="https://www.linkedin.com/company/gea-arquitectura/" target="_blank">
          <img src="/assets/icons/linkedin-square.svg" alt="linkedin"></a>
        <a href="mailto:estudiogea.lp@gmail.com?Subject=Me%20interesa%20saber%20más%20para%20construir">
          <img src="/assets/icons/gmail-square.svg" alt="gmail"></a>
      </div>
    </div>
    </div>
    <div class="footer__text">
    <p>&copy; GEA - 2022 | Desarrollado por <a href="https://github.com/flavius87"
        target="_blank">flavius</a></p>
    </div>
  </section>
</footer>

