<header>
    <nav class="main__nav fixed"  id="myNav" [class.menuHamburguer]="menuHamburguer">
        <a href="/" class="main__logo"><img src="assets/logos/logo-gea-arquitectura.svg" alt="logo_gea"></a>
        <ul class="main__links">
          <li class="main__list"><a href="/" class="main__link">Inicio</a></li>
          <li class="main__list"><a role="button" (click)="onNav('servicios')" class="main__link">Servicios</a></li>
          <li class="main__list"><a role="button" (click)="onNav('obras')" class="main__link">Obras</a></li>
          <li class="main__list"><a role="button" (click)="onNav('nosotros')" class="main__link">Nosotros</a></li>
          <li class="main__list"><a role="button" (click)="onBlog('blog')" class="main__link">Blog</a></li>
          <li class="main__list"><a role="button" (click)="onNav('contacto')" class="main__link">Contacto</a></li>
            <li id="iconos" class="social__icons">
                <a href="https://www.facebook.com/estudiogeaarq/" target="_blank">
                    <img src="/assets/icons/facebook-gray.svg" alt="facebook"></a>
                <a href="https://www.instagram.com/gea_arquitectura/" target="_blank">
                    <img src="/assets/icons/instagram-gray.svg" alt="instagram"></a>
                <a href="https://api.whatsapp.com/send?phone=5492214591846&text=Hola!%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20para%20construir"
                    target="_blank"><img src="/assets/icons/whatsapp-gray.svg" alt="whatsapp"></a>
                <a href="https://www.linkedin.com/company/gea-arquitectura/" target="_blank">
                    <img src="/assets/icons/linkedin-gray.svg" alt="linkedin"></a>
                <a href="https://ar.pinterest.com/GeaArquitectura/" target="_blank">
                    <img src="/assets/icons/pinterest-square.svg" alt="pinterest"></a>
                <a href="https://www.tiktok.com/@gea.arquitectura" target="_blank">
                      <img src="/assets/icons/tiktok-icon.svg" alt="tiktok"></a>
                <a href="mailto:estudiogea.lp@gmail.com?Subject=Me%20interesa%20saber%20más%20para%20construir">
                    <img src="/assets/icons/gmail-gray.svg" alt="gmail"></a>
            </li>
        </ul>
        <div class="nav__hamburguer" [class.nav__close]="menuClose" (click)="menuOpen()">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </nav>
</header>


