.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: purple;
}

a:active {
  color: var(--gray-tr);
}

.project h1 {
  font-size: 42px;
  font-weight: 300;
  margin: 1% 5% 0% 5%;
}

.project h4 {
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
  margin-left: 5%;
  margin-top: 2%;
}

.project__space__p  {
  background-color: var(--water-green);
  margin: 3% 3% 0%;
  width: 85%;
  height: 4px;
}

.project p {
  font-size: 20px;
}

.project img {
  vertical-align: top;
  transition: 2s;
  background-size: cover;
  background-position: center;
  max-height: 100vh;
}

.project__card {
  display: grid;
}

.project__img {
  object-fit: cover;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: grid;
}

.project__paragraph {
  font-weight: 400;
}

.project__space {
  height: 6px;
  margin: 1% 3% 0%;
  width: 85%;
  background-color: var(--water-green);
}

.project__text__card {

  border-radius: 2px;
  padding-top: 18px;
}

.project__text__card p {
  margin-left: 5%;
}

.project__card__2{
  display: grid;
  grid-template-rows: auto;
  margin-top: 4%;
  margin-bottom: 4%;
}

.project__text {
  transition: transform .5s;
  text-align: center;
}

.project__text h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 2%;
}

.project__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(350px, 1fr));
  margin: auto;
  gap: 10px;
  overflow: hidden;
}

.project__gallery img {
  width: 100%;
  vertical-align: top;
  height: 350px;
  object-fit: cover;
  transition: transform .5s;
}

.project__gallery .gallery__img {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.project__gallery .gallery__img:hover img {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
  cursor: zoom-in;
}

.light__box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
}

.light__box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
}

.window__open {
  transform: scale(1);
}

.btn__close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--gray);
  margin: 5%;
  border: none;
}

.btn__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: var(--gray);
  border-radius: 4px;
  color: #fff;
  margin: 3%;
  border: none;
  z-index: 1000;
}

.btn__prev {
  left: 0;
}

.btn__next {
  right: 0;
}

.btn__controls:hover, .btn__close:hover {
  transition: all 0.5s ease-out;
  background-color: var(--water-green);
  -webkit-transition: all 0.5s ease-out;
}

.project__video {
  position:relative;
  padding-bottom: 48.25%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-fill-mode: both;
  animation-duration: 1.0s;
}

.animated {
  animation-duration: 1s;
  animation-name: fadeInUp;
  animation-fill-mode: both;
  opacity: 0;
}

.noanimated {
  opacity: 0;
  transition: 0.2 linear;
}

.noanimated_2 {
  opacity: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 1;
  }
}
.animate__zoomIn {
  animation-name: zoomIn;
  animation-duration: .5s;
}


@media (min-width: 768px) {

  .project img {
    max-height: fit-content;
  }

  .project__gallery {
    margin: 5%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10%;
    justify-items: center;
    align-items: center;
  }

  .gallery__img {
    max-height: 350px;
    width: 450px;
  }
}

@media (min-width: 1080px) {

  .project__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  .project__img {
    width: 90%;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }

  .project__text__card {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }

  .project__text {
    max-width: 60%;
  }
}
