
<section class="project container animate__fadeIn" *ngFor="let icollection of icollections">
    <div class="project__img" (scroll)="onScroll()" [ngClass]="scrollingbgVariable?'bg':'notbg'">
        <picture>
            <source [srcset]="icollection.srcset[1]" type="image/webp">
            <img [src]="icollection.src[1]" loading="lazy" [alt]="icollection.alt[1]">
        </picture>
    </div>
    <div class="project__text__card container" (scroll)="onScroll()" [ngClass]="scrollingbgVariable?'bg':'notbg'">
        <h1>{{icollection.title}}</h1>
        <br>
        <hr class="project__space" >
        <br>

        <h4>Estilo</h4>
        <p class="project__paragraph">{{icollection.style}}</p>
        <hr>
        <br>
        <h4>Proyecto</h4>
        <p class="project__paragraph"><a [href]="icollection.href" target="_blank">{{icollection.design}}</a></p>
        <hr>
        <br>
        <h4>Ubicación</h4>
        <p class="project__paragraph">{{icollection.location}}</p>
        <hr>
        <br>
        <h4>Localidad</h4>
        <p class="project__paragraph">{{icollection.city}}</p>
        <hr>
        <br>
        <h4>Año</h4>
        <p class="project__paragraph">{{icollection.year}}</p>
        <br>
    </div>
    <div class="project__text" [ngClass]="{'noanimated': !scrollingFadeIn, 'animated':scrollingFadeIn}" #project>
        <div class="project__separator"><div class="project__separator__2" [ngClass]="{'noanimated': !scrollingFadeIn, 'project__separator__animated ':scrollingFadeIn}" #project></div></div>
        <h3>Sobre el proyecto</h3>
        <p>{{icollection.description}}</p>
        <div class="project__separator"></div>
    </div>
    <div class="project__img__2 container" [ngClass]="{'noanimated': !scrollingFadeIn, 'animated':scrollingFadeIn}" #project>
      <picture>
          <source [srcset]="icollection.srcset[2]" type="image/webp">
          <img [src]="icollection.src[2]" loading="lazy" [alt]="icollection.alt[2]">
      </picture>
    </div>
    <div class="project__img__3 container" [ngClass]="{'noanimated': !scrollingFadeIn, 'animated':scrollingFadeIn}" #project>
      <picture>
          <source [srcset]="icollection.srcset[3]" type="image/webp">
          <img [src]="icollection.src[3]" loading="lazy" [alt]="icollection.alt[3]">
      </picture>
    </div>
    <div class="project__img__4 container" [ngClass]="{'noanimated': !scrollingFadeInTwo, 'animated':scrollingFadeInTwo}" #projectTwo>
      <picture>
          <source [srcset]="icollection.srcset[4]" type="image/webp">
          <img [src]="icollection.src[4]" loading="lazy" [alt]="icollection.alt[4]">
      </picture>
      <div class="project__pic"><p>Reforma interior de local Osaki.</p></div>
    </div>
    <div class="project__img__5 container" [ngClass]="{'noanimated': !scrollingFadeInTwo, 'animated':scrollingFadeInTwo}" #projectTwo>
      <picture>
          <source [srcset]="icollection.srcset[5]" type="image/webp">
          <img [src]="icollection.src[5]" loading="lazy" [alt]="icollection.alt[5]">
      </picture>
      <div class="project__pic"><p>Nuevo revestimiento del frente de local Osaki.</p></div>
    </div>
    <div class="project__img__6 container" [ngClass]="{'noanimated': !scrollingFadeInTwo, 'animated':scrollingFadeInTwo}" #projectTwo>
      <picture>
          <source [srcset]="icollection.srcset[6]" type="image/webp">
          <img [src]="icollection.src[6]" loading="lazy" [alt]="icollection.alt[6]">
      </picture>
      <div class="project__pic"><p>Reforma interior de local Osaki.</p></div>
    </div>
    <div class="project__img__7 container" [ngClass]="{'noanimated': !scrollingFadeInThree, 'animated':scrollingFadeInThree}" #projectThree>
      <picture>
          <source [srcset]="icollection.srcset[7]" type="image/webp">
          <img [src]="icollection.src[7]" loading="lazy" [alt]="icollection.alt[7]">
      </picture>
      <div class="project__pic"><p>Nuevo revestimiento del frente de local Osaki.</p></div>
    </div>
    <div class="project__video container" [ngClass]="{'noanimated': !scrollingFadeInThree, 'animated':scrollingFadeInThree}" #projectThree>
      <iframe [src]="getVideoIframe(icollection.video)" [title]="icollection.videoTitle"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

