<!-- Contacto -->
<h3 class="title container">Respondemos todas tus consultas</h3>
<div class="contact__paragraph container">
  <p>¿Buscás presupuesto de obra? Envianos tu consulta a través de cualquiera de nuestros medios de contacto,
    y nos pondremos a tu disposición a la brevedad.</p>
</div>
<div class="contact__wrap container">
  <form action="contact.php" method="POST" id="myForm">
    <h3 class="title">Comunicate con nosotros</h3>
    <div class="contact__form">
      <small></small>
      <input type="text" name="name" id="name" required><span class="float__bar"></span>
      <label>Nombre</label>
    </div>
    <div class="contact__form">
      <small></small>
      <input type="text" name="lastName" id="lastName" required><span
        class="float__bar"></span>
      <label>Apellido</label>
    </div>
    <div class="contact__form">
      <small></small>
      <input type="email" name="email" id="email" required><span
        class="float__bar"></span>
      <label>Email</label>
    </div>
    <div class="contact__form">
      <small></small>
      <input type="number" name="cellphone" id="cellphone" required><span
        class="float__bar"></span>
      <label>Celular</label>
    </div>
    <div class="contact__form">
      <small></small>
      <input type="text" name="city" id="city" required><span class="float__bar"></span>
      <label>Tu ciudad</label>
    </div>
    <div class="contact__form">
      <small></small>
      <select aria-label="Asunto" name="subject" id="subject" required>
        <option selected disabled></option>
        <option value="asesoramiento para construcción en seco">Busco asesoramiento para construcción en seco.</option>
        <option value="asesoramiento para construcción tradicional">Me gustaría consultar por construcción tradicional.</option>
        <option value="asesoramiento para remodelación">Quiero hacer una remodelación.</option>
      </select>
      <span class="float__bar"></span>
      <div class="subject">Asunto</div>
    </div>
    <div class="contact__form">
      <small></small>
      <textarea name="message" id="message" required></textarea><span
        class="float__bar"></span>
      <label>Mensaje</label>
    </div>
    <div class="contact__button">
      <button type="submit"><span>Enviar</span></button>
    </div>
  </form>
</div>


