<!-- Contacto -->
<h3 class="contact__title__paragraph">Atendemos todas tus consultas</h3>
<div class="contact__paragraph container">
  <p>¡Estás a un paso de tener tu casa propia!
    Completá el formulario de contacto y pronto estaremos a tu disposición
    para brindarte toda la información que necesitás. Podemos resolver tus dudas
    sobre plazos de entrega, precios por metro cuadrado y opciones de pago.
    Además, te ofreceremos un <span>presupuesto sin costo ni compromiso alguno.</span>
    ¡No pierdas la oportunidad de dar el primer paso hacia tu hogar ideal!</p>
</div>
<div class="contact__wrap">
  <form action="contact.php" method="POST" id="myForm">
    <h3 class="contact__title container">Comunicate con nosotros</h3>
    <div class="contact__form">
      <small></small>
      <input type="text" name="name" id="name" required><span class="float__bar"></span>
      <label>Nombre</label>
    </div>
    <div class="contact__form">
      <small></small>
      <input type="text" name="lastName" id="lastName" required><span
        class="float__bar"></span>
      <label>Apellido</label>
    </div>
    <div class="contact__form">
      <small></small>
      <input type="email" name="email" id="email" required><span
        class="float__bar"></span>
      <label>Email</label>
    </div>
    <div class="contact__form">
      <small></small>
      <input type="number" name="cellphone" id="cellphone" required><span
        class="float__bar"></span>
      <label>Celular</label>
    </div>
    <div class="contact__form">
      <small></small>
      <input type="text" name="city" id="city" required><span class="float__bar"></span>
      <label>Tu ciudad</label>
    </div>
    <div class="contact__form">
      <select name="subject" id="subject" required>
        <small></small>
        <option selected disabled></option>
        <option value="asesoramiento para construcción en seco">Busco asesoramiento para construcción en seco.</option>
        <option value="asesoramiento para construcción tradicional">Me gustaría consultar por construcción tradicional.</option>
        <option value="asesoramiento para remodelación">Quiero hacer una remodelación.</option>
      </select><span class="float__bar"></span>
      <label>Asunto</label>
    </div>
    <div class="contact__form">
      <small></small>
      <textarea name="message" id="message" required></textarea><span
        class="float__bar"></span>
      <label>Mensaje</label>
    </div>
    <div class="contact__button">
      <button type="submit"><span>Enviar</span></button>
    </div>
  </form>
</div>
<div class="contact__map">
  <h4 class="contact__title__map">Ubicación</h4>
  <div class="wrap__map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d409.1352744783599!2d-58.04617086562288!3d-34.879282232190576!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ff4d7770fa85805!2sGea%20Arquitectura!5e0!3m2!1ses!2sar!4v1673503734353!5m2!1ses!2sar"
    allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

